body
{
    text-align: center;
    background-color: black;
    font-family: arial;
}

@font-face
{
font-family: arial;
src: url('font/arial.ttf');
    
}

a
{
    text-decoration: none;
    outline: none;
}
/*-------------------------page wrap--------------------------------------*/
.page_wrap
{
    text-align: left;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: auto;
    padding: 15px 65px 230px 85px;
    background:url('../image/bgUtama.jpg');
    background-repeat: no-repeat;
    
}

.shadow
{
    box-shadow: 5px 0px 35px black;
    border-radius: 16px;
    margin: 0;
    padding: 0;
    height: 660px;
}
/*-----------------------menu----------------------------------------*/
.menu
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: auto;
    margin-bottom: 20px;
}

.menu ul
{
    margin: 0px 0px 0px 260px;
    padding: 0;
    text-align: center;
}

.menu ul li
{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 10px
}
.menu a
{
    color: rgb(215,215,62);
    font-size: 18px;
}

.menu a:hover
{
    color: white;
}

/*-----------------------content----------------------------------------*/
.content
{
    padding: 0;
}
/*-----------------------content left------------------------------------------*/
.content .contentLeft
{
    display: inline-block;
    width: 180px;
    margin: 0;
    float: left;
    height: 660px;
/*    background: rgb(0,102,51);
    z-index: -2;*/
}

.content .contentLeft ul
{
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: -20px;
    margin-top: -40px;
}

.content .contentLeft ul li
{
    list-style: none;
    width: auto;
    height: auto;
    
}

.content .contentLeft ul li img
{
    height: 100px;
    width: 110px;
}

.content .contentLeft div.a
{
    display: inline-block;
    margin-right: 10px;
    width: auto;
    height: 900px;
}

.content .contentLeft div.a img
{
    width: 180px;
    position: absolute;
    z-index: -1;
    margin-left: -2px;
    height: 664px;
}

.content .contentLeft h2
{
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    font-size: 14px;
    width: 300px;
    margin-left: -90px;
    color: rgb(215,215,62);
    text-shadow: 2px 4px 5px black
}
/*-----------------------content right------------------------------------------*/
.content .contentRight
{
    display: inline-block;
    width: 630px;
    height: 600px;
}

.content .contentRight ul.tabs
{
    background-color: rgb(0,153,0);
    float: left;
    margin: 0;
    padding: 0;
    height: 660px;
}


.content .contentRight ul.tabs li
{
    list-style: none;
    width: 118px;
    height: 132px;
    text-align: center;
    margin-left: 8px;
    outline-color: blue;
}

.content .contentRight ul.tabs img
{
    margin: 20px 0px 0px 0px;
    padding: 0;
    height: 60px;
    width: 60px;
}

.content .contentRight ul.tabs li p
{
    color: rgb(215,215,62);
    font-size: 14px;
    text-shadow: 1px 2px 3px black;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

.content .contentRight div.panel
{
    background-color: rgb(0,102,51);
    height: 660px;
    width: 772px;
    margin-top: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content .contentRight div.panel .panel2
{
    background-color: rgb(0,153,0);
    margin: 0;
    padding: 0;
    height: 500px;
    width: 500px;
    margin-left: 150px;
    margin-top: -30px;
    position: absolute;
    border-radius: 20px;
}

/*-----------------------footer----------------------------------------*/
.footer
{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    float: right;
}


/*------------------------second style-----------------------------------*/

/*.panel .scrollable
{
    position:relative;
    overflow:hidden;
    height: 800px;
    width: 900px;
}

.panel .vertical
{
	position:relative;
	overflow:hidden;	
	height: 800px;	 
	width: 900px;
	border-top:1px solid #ddd;	
}

.panel .scrollable .items
{
    position:absolute;
    height: 2000em;
    margin: 0px;
}

.panel .scrollable .items .item {
	border-bottom:1px solid #ddd;
	margin:0px 0;
	padding:0px;
	font-size:12px;
	height:180px;
}


.panel .scrollable .items .item img {
	float:left;
	margin-right:20px;
	height:100px;
	width:100px;
}

.panel .scrollable .items .item h3 {
	margin:0 0 5px 0;
	font-size:16px;
	color:#456;
	font-weight:normal;
}

-------action above scroll-----------
#actions {
	width:900px;
	
}

#actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.next {
	float:right;
}	*/

/* root element for scrollable 
.scrollable {

	 required settings 
	position:relative;
	overflow:hidden;

	 vertical scrollables have typically larger height than width but not now 
	height: 665px;
	width: 700px;
}

 root element for scrollable items 
.scrollable .items {
	position:absolute;

	 this time we have very large space for the height 
	height:20000em;
}

 root element for scrollable 
.vertical {  
	
	 required settings 
	position:relative;
	overflow:hidden;	

	 vertical scrollers have typically larger height than width 	
	height: 665px;	 
	width: 700px;
	border-top:1px solid #ddd;	
}

 root element for scrollable items 
.items {	
	position:absolute;
	
	 this time we have very large space for height 	
	height:20000em;	
	margin: 0px;
}

 single scrollable item 
.item {
	border-bottom:1px solid #ddd;
	margin:10px 0;
	padding:15px;
	font-size:12px;
	height:180px;
}

 elements inside single item 
.item img {
	float:left;
	margin-right:20px;
	height:180px;
	width:240px;
}

.item h3 {
	margin:0 0 5px 0;
	font-size:16px;
	color:#456;
	font-weight:normal;
}

 the action buttons above the scrollable 
#actions {
	width:700px;
	margin:30px 0 10px 0;	
}

#actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.next {
	float:right;
}	*/

